/* 

  Development css

    1. colors & fonts
    2. general styles
    3. header

*/

/* colors & fonts */

:root {
  --navbar-font-color: #fff;
  --navbar-bg-color: #101010
}


/* general styles */

body {
  margin: 0;
}


/* header */

.header-container {
  width: 100vw;
  height: 10vh;
}

.navbar {
  height: inherit;
  width: inherit;
  position: fixed;
  display: flex;
  background-color: var(--navbar-bg-color);
  color: var(--navbar-font-color);
}
